.asciimath-inline {
    /*font-size: 90%;*/
}

.asciimath-block {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.asciimath-block .asciimath-line {
    display: inline-block;
    margin: 8px 0;
}
